@layer components {
  /*
  **************************************************************************************
  ***** New Post (posts#create) page
  **************************************************************************************
  */

  .create-post {
    @apply container mx-auto grid justify-items-center my-10;
  }

  .create-post .page-header {
    @apply !font-proxima uppercase bg-clip-text text-transparent 
           bg-gradient-to-r from-sky-600 to-wet-latex-blue mb-6;
  }

  .create-post .new-post-form {
    @apply w-full max-w-lg;
  }

  /* Posts title */

  .create-post .new-post-form .title {
    @apply flex flex-wrap -mx-3 mb-6;
  }

  .create-post .new-post-form .title .label{
    @apply block uppercase tracking-wide text-gray-500 
           text-xs font-bold mb-2;
  }

  .create-post .new-post-form .title .input{
    @apply appearance-none block w-full bg-white text-gray-700 
           border border-gray-200 rounded py-3 px-4 leading-tight 
           focus:outline-none focus:bg-white focus:border-gray-500;
  }

  /* Posts body */

  .create-post .new-post-form .body {
    @apply flex flex-wrap -mx-3 mb-6;
  }

  .create-post .new-post-form .body .label{
    @apply block uppercase tracking-wide text-gray-500 
           text-xs font-bold mb-2;
  }

  .create-post .new-post-form .body .input{
    @apply appearance-none block w-full bg-white text-gray-700 
           border border-gray-200 rounded py-3 px-4 leading-tight 
           focus:outline-none focus:bg-white focus:border-gray-500;
  }

  /* Submit button */
  .create-post .new-post-form .posts-submission {
    @apply container mx-auto grid justify-items-center;
  }

  .create-post .new-post-form .posts-submission .submit-btn {
    @apply text-white bg-gradient-to-br from-green-400 to-blue-600
           hover:bg-gradient-to-bl focus:ring-4 focus:outline-none
           focus:ring-green-200 dark:focus:ring-green-800 font-medium
           rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
  }
}
