@layer components {
  /*
  **************************************************************************************
  ***** Posts List (index page)
  **************************************************************************************
  */

  .posts {
    @apply greeds-container;
  }

  /*
  **************************************************************************************
  ***** Posts Section
  **************************************************************************************
  */

  .posts .posts-section {
    @apply p-5;
  }

  .posts .posts-section .card {
    @apply w-full bg-white lg:max-w-full lg:flex;
  }

  .posts .posts-section .card .img {
    @apply h-48 lg:h-auto lg:w-48 flex-none bg-cover 
           rounded-t lg:rounded-t-none lg:rounded-l 
           text-center overflow-hidden bg-posts-plug;
  }

  .posts .posts-section .card .content {
    @apply border-r border-b border-l border-new-blue 
           lg:border-l-0 lg:border-t lg:border-new-blue 
           rounded-b lg:rounded-b-none lg:rounded-r p-4 
           flex flex-col justify-between leading-normal;
  }

  .posts .posts-section .card .content .main {
    @apply mb-8;
  }

  .posts .posts-section .card .content .main .title {
    @apply text-new-blue font-bold text-xl mb-3;
  }

  .posts .posts-section .card .content .main .body {
    @apply text-base text-gray-700;
  }

  .posts .posts-section .card .content .additional {
    @apply flex items-center;
  }

  .posts .posts-section .card .content .additional .icon {
    @apply w-10 h-10 rounded-full mr-4;
  }

  .posts .posts-section .card .content .additional .info {
    @apply text-sm;
  }

  .posts .posts-section .card .content .additional .info .author {
    @apply text-gray-900 leading-none;
  }

  .posts .posts-section .card .content .additional .info .date {
    @apply text-gray-600;
  }
}
