@layer components {
  /*
  **************************************************************************************
  ***** Post Details (show page)
  **************************************************************************************
  */

  .posts-detail {
    @apply container mx-auto grid justify-items-center my-12;
  }

  .posts-detail .title {
    @apply mb-4 font-extrabold leading-none tracking-tight
         text-new-blue md:text-6xl lg:text-6xl;
  }

  .posts-detail .body {
    @apply tracking-widest text-gray-600 text-justify md:text-lg;
  }

  .posts-detail .back-link {
    @apply flex flex-row text-center text-gray-500 hover:text-gray-600 
           border border-gray-300 hover:bg-gray-300
           font-medium rounded-3xl text-sm px-5 py-2.5 my-8;
  }

  .posts-detail .back-link p {
    @apply pl-1;
  }

  .posts-detail .back-link .back-arrow {
    @apply w-5 h-5 rtl:rotate-180;
  }
}
