@layer components {
  .app {
    @apply flex-col bg-lilia;
  }

  .app .divider {
    @apply bg-new-blue h-px border-0 mx-5;
  }

  /*
  **************************************************************************************
  ***** Header Section
  **************************************************************************************
  */
  .app .header-section .header {
    @apply bg-app-header bg-no-repeat bg-75% bg-right-bottom m-2.5
           md:bg-35% 2xl:bg-25%;
  }

  .app .header-section .header .main-header {
    @apply grid justify-items-center pt-24 pb-32;
  }

  .app .header-section .header .main-header h1 {
    @apply !font-proxima uppercase
           bg-clip-text text-transparent bg-gradient-to-r from-sky-600 to-wet-latex-blue;
  }

  .app .header-section .sub-header h3 {
    @apply text-center text-new-blue my-10;
  }

  /*
  **************************************************************************************
  ***** Posts NavBar
  **************************************************************************************
  */

  .app .posts-navbar {
    @apply text-center text-xl my-7 font-medium text-gray-600;
  }

  .app .posts-navbar .lists-link {
    @apply hover:underline hover:text-new-blue px-1;
  }

  .app .posts-navbar .new-post-link {
    @apply hover:underline hover:text-green-700 px-1;
  }
}
