@layer components {
  /*
  **************************************************************************************
  ***** Spinner
  **************************************************************************************
  */

  .spinner {
    @apply text-center;
  }

  .spinner .line {
    @apply flex flex-row justify-center items-center my-5;
  }

  .spinner .line .loader {
    @apply inline w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600;
  }

  .spinner .line .text {
    @apply px-3 bg-clip-text text-transparent bg-gradient-to-r from-sky-600 to-wet-latex-blue;
  }
}
