@layer base {
  .base-heading {
    @apply !font-black !font-proxima uppercase text-wet-latex-blue;
  }

  h1 {
    @apply base-heading !text-5xl md:!text-8xl xl:!text-[124px] 2xl:!text-[220px];
  }

  h2 {
    @apply !text-4xl md:!text-5xl base-heading !leading-none;
  }

  h3 {
    @apply !text-2xl md:!text-3xl xl:!text-4xl 2xl:!text-5xl base-heading;
  }

  h5 {
    @apply !text-xl base-heading;
  }
}
